# Longest Common Substring Notebook

In [20]:
import pandas as pd
from pythainlp import word_tokenize as tokenize
from pythainlp.util import *
from tqdm.auto import tqdm
import os
tqdm.pandas()

C:\Users\Alps\anaconda3\lib\site-packages\tqdm\std.py:697: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

In [21]:
path = "../asset/CleanedData"
agent = os.listdir(path)
# print(agent)

In [22]:
df = pd.DataFrame()
date = "23_09_2021"

for i in agent:
    # print(path + "/" + i + "/" + date + ".csv")
    try:
        df_temp = pd.read_csv(path + "/" + i + "/" + date + ".csv")
        df = df.append(df_temp, ignore_index=True)
        # print("success")
    except:
        pass

df

,title,summary,link,published
0,มูลนิธิจำนง รังสิกุล เตรียมประกาศผล “ทีวีสีขาว...,มูลนิธิจำนง รังสิกุล ด้วยการสนับสนุนจากกองทุนว...,https://bangkok-today.com/%e0%b8%a1%e0%b8%b9%e...,23_09_2021
1,“ดร.ณรามิล” แห่งมหามงคลฟิล์ม สตูดิโอ โปรดักชั่...,ดร.ณรามิล วิชชุซัน คุ้มรักษ์ ประธานบริหาร บริษ...,https://bangkok-today.com/%e0%b8%94%e0%b8%a3-%...,23_09_2021
2,กอ.รมน.ขอนแก่น มอบเมล็ดพันธุ์พืช ตามโครงการอนุ...,กองอำนวยการรักษาความมั่นคงภายในจังหวัดขอนแก่น ...,https://bangkok-today.com/%e0%b8%81%e0%b8%ad-%...,23_09_2021
3,ประกาศแล้ว! รอบ 63 คนสุดท้าย “Miss Universe Th...,มิสยูนิเวิร์สไทยแลนด์ ประจำปี 2564 (Miss Unive...,https://bangkok-today.com/%e0%b8%9b%e0%b8%a3%e...,23_09_2021
4,วช.ผนึก ม.ศิลปากร ส่งมอบงานวิจัย ผลักดัน จ.เพช...,วันที่ 23 กันยายน 2564 สำนักงานการวิจัยแห่งชาต...,https://bangkok-today.com/%e0%b8%a7%e0%b8%8a-%...,23_09_2021
...,...,...,...,...
178,‘ไบเดน’ ประกาศบริจาควัคซีนโควิดเพิ่ม 500 ล้านโ...,เมื่อวันพุธ ประธานาธิบดีโจ ไบเดน ประกาศว่า สหร...,https://www.voathai.com/a/%e0%b9%84%e0%b8%9a%e...,23_09_2021
179,OECD เรียกร้องประเทศร่ำรวยแบ่งปันวัคซีนโควิด-1...,องค์การเพื่อความร่วมมือและการพัฒนาทางเศรษฐกิจ ...,https://www.voathai.com/a/oecd-wealthy-countri...,23_09_2021
180,‘เอเวอร์แกรนด์ กรุ๊ป’ ตกลงชำระหนี้ดอกเบี้ย-ช่ว...,เอเวอร์แกรนด์ กรุ๊ป (Evergrande Group) บริษัทพ...,https://www.voathai.com/a/evergrande-group-jun...,23_09_2021
181,สหรัฐฯ - จีน เผยนโยบายต่อสู้โลกร้อนคนละแนวทางต...,สองประเทศที่มีขนาดเศรษฐกิจใหญ่ที่สุดในโลกและเป...,https://www.voathai.com/a/%e0%b8%aa%e0%b8%ab%e...,23_09_2021
182,นักวิทย์สิงคโปร์ปิ๊งไอเดียเปลี่ยน 'เปลือกทุเรี...,สำนักข่าวรอยเตอร์รายงานว่า นักวิทยาศาสตร์ที่มห...,https://www.voathai.com/a/%e0%b8%99%e0%b8%b1%e...,23_09_2021

In [23]:
def lcs_algo(S1, S2, m, n):

    L = [[0 for x in range(n+1)] for y in range(m+1)]
    result = []
    max_len = 0

    for i in range(1,m+1):
        for j in range(1,n+1):
            if S1[i-1] == S2[j-1]:
                L[i][j] = L[i-1][j-1] + 1
                if max_len < L[i][j]:
                    if 3 <= L[i][j] <= 8:
                        max_len = L[i][j]
                        result = []
                        LCS = "".join([S1[i-1-k] for k in range(max_len-1,-1,-1)])
                        result.append(LCS)
                elif max_len == L[i][j]:
                    LCS = "".join([S1[i-1-k] for k in range(max_len-1,-1,-1)])
                    result.append(LCS)
    
    return result, max_len

In [48]:
NEWMM = "newmm"
ATTACUT = "attacut"
list_column = df.columns.values.tolist()
column_name = list_column[1]

def word_break(news,engine):
    segment = tokenize(news,keep_whitespace=True,engine=engine)
    return segment

In [49]:
text1 = word_break(df[column_name].iloc[37],NEWMM)
text2 = word_break(df[column_name].iloc[7],NEWMM)
lcs_algo(text1, text2, len(text1), len(text2))

(['\nThe post '], 5)

In [50]:
atta_list = []
newmm_list = []

def wordBreak(df):
    l = len(df)
    for i in tqdm(range(l)):
        atta_list.append(word_break(df.iloc[i][column_name],ATTACUT))
        newmm_list.append(word_break(df.iloc[i][column_name],NEWMM))

wordBreak(df)

100%|██████████| 183/183 [00:10<00:00, 18.16it/s]

In [51]:
def LCS(atta_list, newmm_list):
    l = len(atta_list)
    lcs_atta = set()
    lcs_newmm = set()
    for i in tqdm(range(l-1)):
        w1_atta = atta_list[i]
        w1_newmm = newmm_list[i]
        l1_atta = len(w1_atta)
        l1_newmm = len(w1_newmm)
        for j in range(i+1,l):
            w2_atta = atta_list[j]
            w2_newmm = newmm_list[j]
            l2_atta = len(w2_atta)
            l2_newmm = len(w2_newmm)
            lcs_atta_list,maxl_atta = [],0
            lcs_newmm_list,maxl_newmm = [],0
            if i != j:
                lcs_atta_list,maxl_atta = lcs_algo(w1_atta,w2_atta,l1_atta,l2_atta)
                lcs_newmm_list,maxl_newmm = lcs_algo(w1_newmm,w2_newmm,l1_newmm,l2_newmm)
                if lcs_atta_list != []:
                    lcs_atta.update(lcs_atta_list)
                if lcs_newmm_list != []:
                    lcs_newmm.update(lcs_newmm_list)
    return list(lcs_atta), list(lcs_newmm)

In [58]:
def count_trend(trend_list,df):
    count_list = []
    frequency_list = []
    for i in tqdm(trend_list):
        count = df[column_name].str.contains(str(i), case=False, regex=False).sum()
        frequency = sum(str(x).count(i) for x in df[column_name])
        count_list.append(count)
        frequency_list.append(frequency)
    
    result = pd.DataFrame({'word': trend_list, 'count': count_list, 'frequency': frequency_list})
    result.sort_values(["frequency"], ascending=False, inplace=True, ignore_index=True)
    return result

In [53]:
lcs_atta, lcs_newmm = LCS(atta_list, newmm_list)

100%|██████████| 182/182 [09:13<00:00,  3.04s/it]

In [60]:
result = count_trend(list(lcs_newmm),df)
result.head(20)

100%|██████████| 885/885 [00:02<00:00, 402.29it/s]

                   word  count  frequency
0                \n\n\n     17        151
1                 […]\n     80         80
2                   on      70         70
3              โควิด-19     30         68
4                    2      33         65
5              \n\n\n\n     11         64
6                 เตอร์     27         63
7                \nThe      61         61
8           \nThe post      60         60
9             โควิด-19      25         59
10                ที่ 2     34         59
11   appeared first on      50         50
12       […]\nThe post      50         50
13       […]\nThe post      50         50
14                2564      24         48
15                   1      25         47
16                ก.ย.      15         42
17                 อร์      25         41
18                 และ      18         38
19                  คน      15         37