# Word Break Notebook

In [14]:
## PyThaiNLP
import pandas as pd
from pythainlp import word_tokenize as tokenize
from pythainlp.util import *
from tqdm.auto import tqdm
tqdm.pandas()

C:\Users\Alps\anaconda3\lib\site-packages\tqdm\std.py:697: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  from pandas import Panel

## Read DataFrame

In [15]:
df = pd.read_csv("../Data/ThaiRath.csv")
df

,title,summary,link,published
0,โรนัลโดเงิบ &quot;ชากา&quot; ซดโค้กก่อน สวิตเซ...,กัปตันทีมชาติสวิตเซอร์แลนด์ ทำเอากัปตันทีมชาติ...,https://www.thairath.co.th/sport/eurofootball/...,"Tue, 29 Jun 2021 10:05:00 +0700"
1,สันนิษฐานดาวศุกร์ยังคงขับเคลื่อนกิจกรรมในทางธร...,นักวิทยาศาสตร์สันนิษฐานว่าดาวศุกร์มีเปลือกนอกแ...,https://www.thairath.co.th/lifestyle/life/2126940,"Tue, 29 Jun 2021 10:01:00 +0700"
2,ฟอร์จูนเนอร์ โคโรลล่า ครอส ตัวดันยอดพี่โต! สรุ...,ยอดขายรถยนต์ในประเทศไทย ประจำเดือนพฤษภาคม 64 ย...,https://www.thairath.co.th/news/auto/news/2127156,"Tue, 29 Jun 2021 10:00:00 +0700"
3,ราคาทองวันนี้ 29/6/64 ล่าสุด เปิดตลาดเช้าวันอั...,&quot;ราคาทองวันนี้&quot; เปิดตลาดเช้าวันอังคา...,https://www.thairath.co.th/business/investment...,"Tue, 29 Jun 2021 09:35:00 +0700"
4,เผยภาพล่าสุด &quot;คิม จอง อึน&quot; ผ่ายผอมลง...,ทีวีเกาหลีเหนือเผยภาพล่าสุด &quot;คิม จอง อึน&...,https://www.thairath.co.th/news/foreign/2127271,"Tue, 29 Jun 2021 09:32:47 +0700"
...,...,...,...,...
384,FORD เปิดตัวกระบะรุ่นพิเศษ RANGER XL STREET SP...,Ford Ranger XL Street Special Edition กระบะรุ่...,https://www.thairath.co.th/news/auto/news/2132445,"Mon, 05 Jul 2021 14:00:00 +0700"
385,จัดการกับ ‘ความรู้สึกผิดต่อลูก’ ในแต่ละวัน ปมท...,มนุษย์แม่คงเคยมีความรู้สึกผิดต่อลูก เมื่อรู้สึ...,https://www.thairath.co.th/lifestyle/mom-and-k...,"Mon, 05 Jul 2021 13:52:38 +0700"
386,อธิบดีกรมควบคุมโรค แจงปมเอกสารประชุมค้านไฟเซอร...,อธิบดีกรมควบคุมโรค เผยปมเอกสารประชุมวิชาการ 3 ...,https://www.thairath.co.th/news/local/2132817,"Mon, 05 Jul 2021 14:16:00 +0700"
387,ปะทะเดือดสายบุรี โจรใต้เหิมสู้ ทหารล้อมจับแกนน...,โจรใต้เหิมปะทะเดือดทหาร ตำรวจ หลัง จนท.เข้าทำก...,https://www.thairath.co.th/news/local/south/21...,"Mon, 05 Jul 2021 14:06:00 +0700"
388,ณวัฒน์ ซัดแรงไม่ชอบคนหน้าไหว้หลังหลอก ยังรอแทค...,ณวัฒน์ ซัดแรงไม่ชอบคนหน้าไหว้หลังหลอก ยังรอแทค...,https://www.thairath.co.th/entertain/news/2132725,"Mon, 05 Jul 2021 13:30:00 +0700"

In [16]:
df.drop_duplicates(inplace=True)
df

,title,summary,link,published
0,โรนัลโดเงิบ &quot;ชากา&quot; ซดโค้กก่อน สวิตเซ...,กัปตันทีมชาติสวิตเซอร์แลนด์ ทำเอากัปตันทีมชาติ...,https://www.thairath.co.th/sport/eurofootball/...,"Tue, 29 Jun 2021 10:05:00 +0700"
1,สันนิษฐานดาวศุกร์ยังคงขับเคลื่อนกิจกรรมในทางธร...,นักวิทยาศาสตร์สันนิษฐานว่าดาวศุกร์มีเปลือกนอกแ...,https://www.thairath.co.th/lifestyle/life/2126940,"Tue, 29 Jun 2021 10:01:00 +0700"
2,ฟอร์จูนเนอร์ โคโรลล่า ครอส ตัวดันยอดพี่โต! สรุ...,ยอดขายรถยนต์ในประเทศไทย ประจำเดือนพฤษภาคม 64 ย...,https://www.thairath.co.th/news/auto/news/2127156,"Tue, 29 Jun 2021 10:00:00 +0700"
3,ราคาทองวันนี้ 29/6/64 ล่าสุด เปิดตลาดเช้าวันอั...,&quot;ราคาทองวันนี้&quot; เปิดตลาดเช้าวันอังคา...,https://www.thairath.co.th/business/investment...,"Tue, 29 Jun 2021 09:35:00 +0700"
4,เผยภาพล่าสุด &quot;คิม จอง อึน&quot; ผ่ายผอมลง...,ทีวีเกาหลีเหนือเผยภาพล่าสุด &quot;คิม จอง อึน&...,https://www.thairath.co.th/news/foreign/2127271,"Tue, 29 Jun 2021 09:32:47 +0700"
...,...,...,...,...
384,FORD เปิดตัวกระบะรุ่นพิเศษ RANGER XL STREET SP...,Ford Ranger XL Street Special Edition กระบะรุ่...,https://www.thairath.co.th/news/auto/news/2132445,"Mon, 05 Jul 2021 14:00:00 +0700"
385,จัดการกับ ‘ความรู้สึกผิดต่อลูก’ ในแต่ละวัน ปมท...,มนุษย์แม่คงเคยมีความรู้สึกผิดต่อลูก เมื่อรู้สึ...,https://www.thairath.co.th/lifestyle/mom-and-k...,"Mon, 05 Jul 2021 13:52:38 +0700"
386,อธิบดีกรมควบคุมโรค แจงปมเอกสารประชุมค้านไฟเซอร...,อธิบดีกรมควบคุมโรค เผยปมเอกสารประชุมวิชาการ 3 ...,https://www.thairath.co.th/news/local/2132817,"Mon, 05 Jul 2021 14:16:00 +0700"
387,ปะทะเดือดสายบุรี โจรใต้เหิมสู้ ทหารล้อมจับแกนน...,โจรใต้เหิมปะทะเดือดทหาร ตำรวจ หลัง จนท.เข้าทำก...,https://www.thairath.co.th/news/local/south/21...,"Mon, 05 Jul 2021 14:06:00 +0700"
388,ณวัฒน์ ซัดแรงไม่ชอบคนหน้าไหว้หลังหลอก ยังรอแทค...,ณวัฒน์ ซัดแรงไม่ชอบคนหน้าไหว้หลังหลอก ยังรอแทค...,https://www.thairath.co.th/entertain/news/2132725,"Mon, 05 Jul 2021 13:30:00 +0700"

In [17]:
NEWMM = "newmm"
ATTACUT = "attacut"
list_column = df.columns.values.tolist()
columnName = list_column[1]

def word_break(news,engine):
    segment = tokenize(news,keep_whitespace=False,engine=engine)
    return segment

## Word Break Example

In [18]:
text = df["summary"].iloc[2]
print(text)
print("ATTACUT : " + " | ".join(word_break(text,ATTACUT)))
print("NEWMM : " + " | ".join(word_break(text,NEWMM)))

ยอดขายรถยนต์ในประเทศไทย ประจำเดือนพฤษภาคม 64 ยอดขายรวม 55,948 คัน เพิ่มขึ้น 38.4%
ATTACUT : ยอด | ขาย | รถ | ยนต์ | ใน | ประเทศไทย | ประจำ | เดือน | พฤษภาคม | 64 | ยอด | ขาย | รวม | 55 | , | 948 | คัน | เพิ่ม | ขึ้น | 38 | . | 4 | %
NEWMM : ยอดขาย | รถยนต์ | ในประเทศ | ไทย | ประจำเดือน | พฤษภาคม | 64 | ยอดขาย | รวม | 55,948 | คัน | เพิ่มขึ้น | 38.4 | %

In [19]:
text_file = open("../Dict/lexitron.txt", "r")
content = text_file.read()
dict_lexitron = content.split("\n")
text_file.close()
len(dict_lexitron)

42221

In [20]:
text_file = open("../Dict/remove_alien_3.txt", "r",encoding="utf-8")
content = text_file.read()
dict_thai2vec = content.split("\n")
text_file.close()
len(dict_thai2vec)

33333

In [41]:
newmmWB = []
attacutWB = []

In [46]:
def cumulate_wb(df_news,engine):
  all = set()
  for i in tqdm(range(len(df_news))):
    all = all.union(set(word_break(df_news.iloc[i][columnName],engine)))
  mylist = list(all)
  mylist = [word for word in mylist if isthai(word,ignore_chars='.()-')]
  return mylist

In [47]:
def accuracy(df_news,engine,dict_list):
  result = cumulate_wb(df_news,engine)
  amount = len(result)
  inDict = [word for word in result if word in dict_list]
  isThai = len(inDict)
  print('\n')
  print(str(engine) + ' accuracy : ' + str(round((isThai / amount)*100,3)))
  return result

In [49]:
newmmWB = accuracy(df,"newmm",dict_lexitron)

100%|██████████| 389/389 [00:00<00:00, 1149.39it/s]

newmm accuracy : 89.785

In [54]:
len(newmmWB)

3485

In [52]:
attacutWB = accuracy(df,"attacut",dict_lexitron)

100%|██████████| 389/389 [00:08<00:00, 47.94it/s]

attacut accuracy : 76.039

In [53]:
len(attacutWB)

2671

In [1]:
print("dev puwadol branch")

dev puwadol branch