# Word Break Notebook

In [1]:
## PyThaiNLP
import pandas as pd
from pythainlp import word_tokenize as tokenize
from pythainlp.util import *
from tqdm.auto import tqdm
tqdm.pandas()

In [2]:
df = pd.read_csv("../Data/ThaiRath.csv")
df

,title,summary,link,published
0,โรนัลโดเงิบ &quot;ชากา&quot; ซดโค้กก่อน สวิตเซ...,กัปตันทีมชาติสวิตเซอร์แลนด์ ทำเอากัปตันทีมชาติ...,https://www.thairath.co.th/sport/eurofootball/...,"Tue, 29 Jun 2021 10:05:00 +0700"
1,สันนิษฐานดาวศุกร์ยังคงขับเคลื่อนกิจกรรมในทางธร...,นักวิทยาศาสตร์สันนิษฐานว่าดาวศุกร์มีเปลือกนอกแ...,https://www.thairath.co.th/lifestyle/life/2126940,"Tue, 29 Jun 2021 10:01:00 +0700"
2,ฟอร์จูนเนอร์ โคโรลล่า ครอส ตัวดันยอดพี่โต! สรุ...,ยอดขายรถยนต์ในประเทศไทย ประจำเดือนพฤษภาคม 64 ย...,https://www.thairath.co.th/news/auto/news/2127156,"Tue, 29 Jun 2021 10:00:00 +0700"
3,ราคาทองวันนี้ 29/6/64 ล่าสุด เปิดตลาดเช้าวันอั...,&quot;ราคาทองวันนี้&quot; เปิดตลาดเช้าวันอังคา...,https://www.thairath.co.th/business/investment...,"Tue, 29 Jun 2021 09:35:00 +0700"
4,เผยภาพล่าสุด &quot;คิม จอง อึน&quot; ผ่ายผอมลง...,ทีวีเกาหลีเหนือเผยภาพล่าสุด &quot;คิม จอง อึน&...,https://www.thairath.co.th/news/foreign/2127271,"Tue, 29 Jun 2021 09:32:47 +0700"
...,...,...,...,...
418,สตม. แจงข่าวข้อมูลนักท่องเที่ยว 106 ล้านคนเคยม...,สตม. แจงกระแสข่าวข้อมูลนักท่องเที่ยวต่างชาติรา...,https://www.thairath.co.th/news/local/2201275,"Thu, 23 Sep 2021 17:55:00 +0700"
419,ระวังหลอกลงทุนออนไลน์ ภัยร้ายโลกไซเบอร์ ตร.เตื...,ตร.เตือน แอปพลิเคชันหลอกลงทุนออนไลน์ กำลังเป็น...,https://www.thairath.co.th/news/crime/2201303,"Thu, 23 Sep 2021 17:49:57 +0700"
420,เปิดคลิปบิ๊กขรก.ควงอัยการ ฉกตัวน้องเมีย ถูกจับ...,กระหึ่มโซเชียล บิ๊กข้าราชการประจวบฯ สวมโม่งดำค...,https://www.thairath.co.th/news/crime/2201270,"Thu, 23 Sep 2021 17:49:27 +0700"
421,บช.สอท.เปิดช่องทางให้ผู้เสียหายถูก Nas App หลอ...,โฆษก ตร. เผย เปิดช่องทางรับแจ้งความออนไลน์ สำห...,https://www.thairath.co.th/news/crime/2201293,"Thu, 23 Sep 2021 17:37:49 +0700"
422,เจอก้อนปริศนาบนหาดไม้ขาว ภูเก็ต เชื่อ อำพันทะเ...,หนุ่มใหญ่ชาวภูเก็ต วิ่งออกกำลังกายยามเช้าบริเว...,https://www.thairath.co.th/news/local/south/22...,"Thu, 23 Sep 2021 17:33:00 +0700"

In [3]:
df.drop_duplicates(inplace=True)
df

,title,summary,link,published
0,โรนัลโดเงิบ &quot;ชากา&quot; ซดโค้กก่อน สวิตเซ...,กัปตันทีมชาติสวิตเซอร์แลนด์ ทำเอากัปตันทีมชาติ...,https://www.thairath.co.th/sport/eurofootball/...,"Tue, 29 Jun 2021 10:05:00 +0700"
1,สันนิษฐานดาวศุกร์ยังคงขับเคลื่อนกิจกรรมในทางธร...,นักวิทยาศาสตร์สันนิษฐานว่าดาวศุกร์มีเปลือกนอกแ...,https://www.thairath.co.th/lifestyle/life/2126940,"Tue, 29 Jun 2021 10:01:00 +0700"
2,ฟอร์จูนเนอร์ โคโรลล่า ครอส ตัวดันยอดพี่โต! สรุ...,ยอดขายรถยนต์ในประเทศไทย ประจำเดือนพฤษภาคม 64 ย...,https://www.thairath.co.th/news/auto/news/2127156,"Tue, 29 Jun 2021 10:00:00 +0700"
3,ราคาทองวันนี้ 29/6/64 ล่าสุด เปิดตลาดเช้าวันอั...,&quot;ราคาทองวันนี้&quot; เปิดตลาดเช้าวันอังคา...,https://www.thairath.co.th/business/investment...,"Tue, 29 Jun 2021 09:35:00 +0700"
4,เผยภาพล่าสุด &quot;คิม จอง อึน&quot; ผ่ายผอมลง...,ทีวีเกาหลีเหนือเผยภาพล่าสุด &quot;คิม จอง อึน&...,https://www.thairath.co.th/news/foreign/2127271,"Tue, 29 Jun 2021 09:32:47 +0700"
...,...,...,...,...
418,สตม. แจงข่าวข้อมูลนักท่องเที่ยว 106 ล้านคนเคยม...,สตม. แจงกระแสข่าวข้อมูลนักท่องเที่ยวต่างชาติรา...,https://www.thairath.co.th/news/local/2201275,"Thu, 23 Sep 2021 17:55:00 +0700"
419,ระวังหลอกลงทุนออนไลน์ ภัยร้ายโลกไซเบอร์ ตร.เตื...,ตร.เตือน แอปพลิเคชันหลอกลงทุนออนไลน์ กำลังเป็น...,https://www.thairath.co.th/news/crime/2201303,"Thu, 23 Sep 2021 17:49:57 +0700"
420,เปิดคลิปบิ๊กขรก.ควงอัยการ ฉกตัวน้องเมีย ถูกจับ...,กระหึ่มโซเชียล บิ๊กข้าราชการประจวบฯ สวมโม่งดำค...,https://www.thairath.co.th/news/crime/2201270,"Thu, 23 Sep 2021 17:49:27 +0700"
421,บช.สอท.เปิดช่องทางให้ผู้เสียหายถูก Nas App หลอ...,โฆษก ตร. เผย เปิดช่องทางรับแจ้งความออนไลน์ สำห...,https://www.thairath.co.th/news/crime/2201293,"Thu, 23 Sep 2021 17:37:49 +0700"
422,เจอก้อนปริศนาบนหาดไม้ขาว ภูเก็ต เชื่อ อำพันทะเ...,หนุ่มใหญ่ชาวภูเก็ต วิ่งออกกำลังกายยามเช้าบริเว...,https://www.thairath.co.th/news/local/south/22...,"Thu, 23 Sep 2021 17:33:00 +0700"

In [4]:
NEWMM = "newmm"
ATTACUT = "attacut"
list_column = df.columns.values.tolist()
columnName = list_column[1]

def word_break(news,engine):
    segment = tokenize(news,keep_whitespace=False,engine=engine)
    return segment

## Word Break Example

In [5]:
text = df["summary"].iloc[2]
print(text)
print("ATTACUT : " + " | ".join(word_break(text,ATTACUT)))
print("NEWMM : " + " | ".join(word_break(text,NEWMM)))

ยอดขายรถยนต์ในประเทศไทย ประจำเดือนพฤษภาคม 64 ยอดขายรวม 55,948 คัน เพิ่มขึ้น 38.4%
ATTACUT : ยอด | ขาย | รถ | ยนต์ | ใน | ประเทศไทย | ประจำ | เดือน | พฤษภาคม | 64 | ยอด | ขาย | รวม | 55 | , | 948 | คัน | เพิ่ม | ขึ้น | 38 | . | 4 | %
NEWMM : ยอดขาย | รถยนต์ | ในประเทศ | ไทย | ประจำเดือน | พฤษภาคม | 64 | ยอดขาย | รวม | 55,948 | คัน | เพิ่มขึ้น | 38.4 | %

In [12]:
text_file = open("../Dict/lexitron.txt", "r")
content = text_file.read()
dict_lexitron = content.split("\n")
text_file.close()
len(dict_lexitron)

42221

In [14]:
text_file = open("../Dict/remove_alien_3.txt", "r")
content = text_file.read()
dict_thai2vec = content.split("\n")
text_file.close()
len(dict_thai2vec)

33333

In [15]:
newmmWB = []
attacutWB = []

In [16]:
def cumulate_wb(df_news,engine):
  all = set()
  for i in tqdm(range(len(df_news))):
    all = all.union(set(word_break(df_news.iloc[i][columnName],engine)))
  mylist = list(all)
  mylist = [word for word in mylist if isthai(word,ignore_chars='.()-')]
  return mylist

In [17]:
def accuracy(df_news,engine,dict_list):
  result = cumulate_wb(df_news,engine)
  amount = len(result)
  inDict = [word for word in result if word in dict_list]
  isThai = len(inDict)
  print('\n')
  print(str(engine) + ' accuracy : ' + str(round((isThai / amount)*100,3)))
  return result

In [18]:
newmmWB = accuracy(df,"newmm",dict_lexitron)

100%|██████████| 423/423 [00:00<00:00, 730.40it/s]


newmm accuracy : 89.495

In [19]:
len(newmmWB)

3703

In [20]:
attacutWB = accuracy(df,"attacut",dict_lexitron)

100%|██████████| 423/423 [00:10<00:00, 41.21it/s]


attacut accuracy : 75.114

In [21]:
len(attacutWB)

2849